@import url('main.css');
header{
    position: fixed;
    z-index: 99;
    width: 100%;
}
.footer{
    background-color: var(--bg-color);
    color: var(--text-color2);
}
.footer h5{
    color: var(--basic-text);
}
.footer .icon{
    color: var(--basic-text);
    margin-right: 20px;
}
.footer li a{
    text-decoration: none;
    color: var(--text-color2);
}
.footerFoot{
    color: var(--basic-text);
    background-color: var(--bg-color);
}
.banner {
    background-color: var(--bg-color);
    color: var(--basic-text);
}
.logo {
    color: var(--basic-text);
    font-weight: 700;
}
.navLinks a {
    color: var(--basic-text);
    text-decoration: none;
    font-weight: 500;
    padding: 10px;
}
.navLinks a.active {
    color: var(--text-color);
    border-bottom: 2px solid var(--text-color);
}
.home {
    background-color: var(--bg-color);
}
.slide .carousel-control-prev,
.slide .carousel-control-next,
.slide .carousel-indicators {
    display: none;
}
.slide {
    color: var(--basic-text);
}
.slide .carousel-item .col-6 {
    text-align: left;
    align-content: center;
}
.slide .carousel-item .col-6 h1 {
    font-size: 80px;
    font-family: ui-monospace;
    font-weight: 800;
}
.slide .carousel-item .col-6 h6 {
    color: var(--text-color);
}
.slide .carousel-item .col-6 h1 span {
    color: var(--text-color);
}
button.btn.btn-primary.btn-sm {
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 15px 30px;
    border-radius: 30px;
    border: none;
}
button.btn.btn-secondary.btn-sm {
    background-color: transparent;
    color: var(--basic-text);
    padding: 15px 30px;
    border-radius: 30px;
    border-color: var(--basic-text);
}
.about h1 {
    font-size: 45px;
    font-family: system-ui;
    font-weight: 700;
}
.head p {
    color: var(--text-color2);
    font-family: monospace;
}
.head {
    position: relative;
}
.head h2 {
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(255, 255, 255, 0.1);
    font-weight: 900;
    font-size: 80px;
}
.about_head ul span {
    font-weight: 800;
    color: var(--basic-text);
    margin-right: 20px;
}
.about_head ul li {
    color: var(--text-color2);
    font-size: 20px;
}
.download {
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 15px 30px;
    border-radius: 30px;
    width: 30%;
}
.download a {
    text-decoration: none;
    color: var(--bg-color);
}
.cardBox.card {
    background: rgba(255, 255, 255, 0.1);
    position:relative;
    margin: 20px 0;
    /* height: 200px; */
    transform-style: preserve-3d;
    cursor: pointer;
    transform: perspective(2000px);
    transition: 1s;
    box-shadow: inset 100px 0 50px rgba(0, 0, 0, 0.5);
}
.cardBox.card .card-header {
    color: var(--text-color);
    font-weight: 800;
}
.cardBox.card .card-title {
    color: var(--basic-text);
}
.cardBox.card .card-body {
    color: var(--text-color2);
}
.cardBox.card:hover {
    transform: perspective(2000px) rotate(-10deg);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5);
}
.testimotionals .card{
    background: rgba(255, 255, 255, 0.1);
    justify-content: center;
    width: 31%;
    position:relative;
    overflow: hidden;
    margin: 20px 0;
    padding: 20px;
    transform-style: preserve-3d;
    cursor: pointer;
    transform: perspective(2000px);
    transition: 1s;
    box-shadow: inset 100px 0 50px rgba(0, 0, 0, 0.5);
    margin: 10px;
}
.testimotionals .card .layer {
  z-index:1;
  position:absolute;
  top:calc(100% - 2px);
  height:100%;
  width:100%;
  left:0;
  background:linear-gradient(to left , orange, tomato);
  transition:0.5s; 
}
.testimotionals .card .content {
    z-index:2; 
    position:relative;
    color: var(--text-color);
}
.testimotionals .card:hover .content{
    color: var(--bg-color);
}
.testimotionals .card:hover .layer{
    top:0;
}
.testimotionals .card .content p {
    font-size:14px;
    line-height:24px;
    color:var(--text-color2); 
}
.testimotionals .card:hover p{
    color:var(--basic-text); 
}
.skills ol{
    text-align: left;
}
.progress .progress-bar {
    background-color: var(--text-color);
    color: var(--bg-color);
    font-weight: 700;
}
.contact_list{
    text-align: -webkit-center;
}
.contact_list .icon{
    font-size: 30px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    color: var(--text-color);
}
.contact_list a{
    color: var(--text-color2);
    text-decoration: none;
}
.projectBox {
    position: relative;
}  
.image {
    transition: .5s ease;
    backface-visibility: hidden;
}  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
} 
.projectBox:hover .image {
    opacity: 0.3;
}
.projectBox:hover .middle {
    opacity: 1;
} 
.text {
    background-color: var(--text-color);
    color: var(--basic-text);
    cursor: pointer;
    font-size: 16px;
    padding: 16px 32px;
}
.text a{
    text-decoration: none;
    color: var(--basic-text);
}
@media(max-width:1200px){
    .imgA{
        width: 400px;
    }
    .imgB{
        width: 435px;
    }
    .imgC{
        width: 440px;
    }
    .imgD{
        width: 430px;
    }
    .download{
        width: 35%;
    }
}
@media(max-width:1025px){
    .slide .carousel-item .col-6 h1{
        font-size: 56px;
    }
    .download{
        width:35%;
    }
    .cardBox.card{
        width: 30%;
    }
    .imgA{
        width: 400px;
    }
    .imgB{
        width: 435px;
    }
    .imgC{
        width: 440px;
    }
    .imgD{
        width: 430px;
    }
    .resume .card{
        width: 30%;
    }
}
@media(max-width:913px){
    .download{
        width: 65%;
    }
    .testimotionals .card{
        width: 47%;
    }
    .projectBox img{
        width: 700px;
    }
    .resume .col-3{
        width: 100%;
    }
}
@media(max-width:997px){
    .download{
        width: 60%;
    }
    .resume .col-3{
        width: 100%;
    }
    .testimotionals .card{
        width: 47%;
    }
    .projectBox img{
        width: 700px;
        padding: 10px 0;
    }
}
@media(max-width:854px){
    .slide .carousel-item .col-6 h1{
        font-size: 50px;
    }
    .download{
        width: 60%;
    }
    .testimotionals .card{
        width: 45%;
    }
    .projectBox img{
        width: 650px;
        padding: 12px 0;
    }
}
@media(max-width:767px){
    .logo h5{
        font-size: 10px;
    }
    .carousel-item img{
        display: none;
    }
    .carousel-item .col-6{
        width: 100%;
        margin-top: 20px;
    }
    .about img{
        display: none;
    }
    .about .aboutImg{
       display: none;
    }
    .projectBox img{
        width: 500px;
        padding: 12px 0;
    }
    .contact_list.col-3{
        width: 50%;
    }
    .footer .col-2{
        width: 50%;
    }
    .footer .col-4{
        width: 50%;
        align-content: center;
    }
}
@media(max-width:576px){
     .slide .carousel-item .col-6 h1{
    font-size: 50px;
    }
    .testimotionals .card{
        width: 100%;
    }
    .footer .col-2{
        display: none;
    }
}
@media(max-width:541px){
    .logo{
        display: none;
    }
    .download{
        width: 35%;
    }
    .projectBox img{
        width: 450px;
    }
}